.bei-rule-pop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  height: 100vh;
  padding-bottom: 1.5rem;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.bei-rule-box {
  width: 20.9375rem;
  margin: 6.25rem auto 0;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: .25rem;
  color: #000;
  font-size: .8125rem;
  line-height: 1.375rem;
  padding: 1.25rem 1.25rem 1.25rem 1.5625rem;
  position: relative;
}

.action-rule-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-rule-close-icon {
  width: 1.25rem;
}
.bei-rule-title {
  font-size: 1.125rem;
  text-align: center;
  color: #333;
  line-height: 1.5625rem;
  margin-bottom: .75rem;
}
.rule-item {
  display: flex;
}

.rule-item-left {
  position: relative;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.rule-item-left::before {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #FCE5BE;
  position: absolute;
  top: 0;
  left: 50%;
}

.rule-item-left-nobefore::before {
  background-color: #fff;
}

.rule-item-left-span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ecaf4f;
  font-weight: 600;
  border-radius: 50%;
  background-color: #FCE5BE;
  position: relative;
  z-index: 100;
}

.rule-item-right {
  padding-bottom: .9375rem;
  line-height: 1.0625rem;
}

.rule-bottom {
  font-size: .75rem;
  color: #666;
  text-align: center;
  margin-top: .625rem;
}